@model IEnumerable<SGPI.Models.Usuario>
@{
    ViewData["Title"] = "Perfil";
    int cont = 0;
}

<body>
    <div class="row">
        <h1 style="margin-top: 5%">Actualizar usuario</h1>
    </div>
    <ul class="navbar navbar-expand-sm bg-dark navbar-dard sticky-top">

        <li class="nav-item">
            <a class="nav-link" style="color:white" href="https://localhost:5001/Estudiante/Perfil?">Actualizar</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:white" href="PagosMatriculas">Pagos</a>
        </li>

    </ul>
    <hr style="border-color:black" />
    <br />
    <div class="container">
        <table class="table table-responsive" style="margin-left: 25px; border-color:black;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo Documento</th>
                    <th scope="col">Numero Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Programa</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {

                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => i.IdUsuario)</th>
                        <td>@Html.DisplayFor(modelItem => i.IdTipoDoc)</td>
                        <td>@Html.DisplayFor(modelItem => i.Documento)</td>
                        <td>@Html.DisplayFor(modelItem => i.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => i.Apellido)</td>
                        <td>@Html.ViewBag.programa[cont]</td>
                        <td>@Html.DisplayFor(modelItem => i.IdRol)</td>
                        <td>@Html.DisplayFor(modelItem => i.Direccion)</td>
                        <td>
                            <a href='@Url.Action("Edit", "Administrador", new { id = i.IdUsuario })'>
                                <input type="submit" class="btn btn-primary" value="Actualizar">
                            </a>
                           
                        </td>
                    </tr>

                    cont++;

                }

            </tbody>
        </table>
        <br />
        <br />
        <br />
        <br />
        <form style="margin-left:10px">
            <button class="btn btn-danger" asp-controller="Login" asp-action="Login" type="submit">Cerrar sesión</button>
        </form>
    </div>
</body> 
